  <div class="nested-fields border border-warning rounded p-2 border-2 m-2">
    <%= f.input :name %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "Remove", '#', class: 'remove-client btn btn-danger' %>
  </div>  